RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !/public/
RewriteCond %{REQUEST_FILENAME} !/maquette/
RewriteCond %{REQUEST_FILENAME} !/android-chrome-192x192.png
RewriteCond %{REQUEST_FILENAME} !/android-chrome-512x512.png
RewriteCond %{REQUEST_FILENAME} !/apple-touch-icon.png
RewriteCond %{REQUEST_FILENAME} !/favicon-16x16.png
RewriteCond %{REQUEST_FILENAME} !/favicon-32x32.png
RewriteCond %{REQUEST_FILENAME} !/favicon.ico
RewriteCond %{REQUEST_FILENAME} !/site.webmanifest
RewriteRule ^(.*)$ public/index.php [QSA,L]
